<div class="container" style="text-align: center;">
    <form action="#" style="text-align: center;">
        <div class="row" style="text-align: center;">
            <h2 style="text-align:center"> SIGN UP</h2>


            <div class="col" style="text-align: center; color: black">
                <form #signupform="ngForm" style="border:1px solid">
                    <div class="container" style="text-align: center;">
                        <h1 style="color: black">Baker Sign Up</h1>
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <div class="div">
                            <label for="email"><b>Name</b></label>
                            <input type="text" name="name" [(ngModel)]="moviedatas.title">

                        </div>
                        <div class="div">
                            <label for="email"><b>YEAR</b></label>
                            <input type="email" name="year" [(ngModel)]="moviedatas.year">

                        </div>
                        <div class="div">
                            <label for="psw"><b>genres</b></label>
                            <input type="text" name="genres" [(ngModel)]="moviedatas.genres">


                        </div>
                        <div class="div">
                            <label for="psw-repeat"><b>director</b></label>
                            <input type="text" name="psw-repeat" [(ngModel)]="moviedatas.director">


                        </div>
                        <div class="div">
                            <label for="email"><b>PLOT</b></label>
                            <input type="text" name="plot" [(ngModel)]="moviedatas.plot">

                        </div>
                        <div class="div">
                            <label for="email"><b>Actors</b></label>
                            <input type="text" name="actors" [(ngModel)]="moviedatas.actors">

                        </div>

                        <div class="div">
                            <label for="email"><b>posterUrl</b></label>
                            <input type="text" name="state" [(ngModel)]="moviedatas.posterUrl">

                        </div>








                        <div class="clearfix" style="text-align: center;">

                            <button type="submit" [disabled]="!signupform.valid" (click)="update()" class="signupbtn">update</button>
                        </div>
                    </div>
                </form>



            </div>



        </div>
    </form>
</div>